body {
    margin: 0%;
}
/* Navbar */
.Navbar {
    background: rgba(0,0,0, 0.6);
   
}

.Navbar {
	overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
	background-color: rgba(0,0,0, 0.6); /* This colors the navbar black */
	position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
	top: 0; /* This ensures no space is displayed above the navbar */
	width: 100%; /* This makes the navbar span the entire width of the page */
	z-index: 1; /*This ensures other elements don't display over the navbar */
}

/* Navbar text */
.Navbar a {
	float: left; /* This specifies that the text floats on the left on the navbar */
	display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
	color: white; /* This is the font color for text on our navbar */
	padding: 14px 16px; /* This adds padding around our text */
	text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
	font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
	font-size: 20px; /* This specifies the font size for text on our navbar */
	text-align: center; /* This centers the text within its container */
}


/* Navbar hover effect */
.Navbar a:hover {
	background-color: #F4F4F4; /*  This defines the background color that will display when you hover over the text on the navbar */
	color: black; /* This defines the font color that will display when you hover over the text on the navbar */
	font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.Navbar a.active { /* The active selector styles a link */
  background-color: darkgray;  /* This specifies the background color behind the Home button on the navbar */ 
}
/* FLEX Container */

/* Container 1 */
.container_1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}
/* con_1_overlay_text */
.con_1_overlay_text {
    background: rgba(0,0,0, 0.6);
    color: white;
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-top: 15%;
    margin-bottom: 20%;
    text-align: center;
    z-index: -1;
}
/* Container_2 */
* {
    box-sizing: border-box;
}

/* Column_1 IMG*/

.column_1 {
    float: left;
	width: 50%;
	padding: 100px;
    padding-top: 1.9%;
    margin-bottom: 20%;
    height: 400px;
    background: rgba(0,0,0, 0.5);
    z-index: -1;
}

/* Column_2 TEXT*/
.column_2 {
    float: right;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    margin-bottom: 20%;
    height: 400px;
    color: #F4F4F4;
    background: rgba(0,0,0, 0.5);
    text-align: center;
    z-index: -1;
}
/* Container 3 */

/* Column_3 IMG */
.column_3 {
    float: left;
	width: 50%;
	padding: 10px;
    padding-top: 70px;
    margin-top: 0%;
    margin-bottom: 15%;
    height: 400px;
    background: rgba(0,0,0, 0.5);
}

.column_4 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    margin-top: 0%;
    margin-bottom: 15%;
    height: 400px;
    color: #F4F4F4;
    background: rgba(0,0,0, 0.5);
    text-align: center;
    z-index: -1;
}

.column_5 {
    float: left;
    width: 100%;
    padding: 10px;
    padding-top: 20%;
    margin: 5%;
    align-content: space-around;
    height: 500px;
    color: #F4F4F4;
    background: rgba(0,0,0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
.Row:after {
    content: "";
    display: table;
    clear: both;
}

/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

/*  Contact form */
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}
/* Submit button */
input[type=submit] {
    background-color: #2f2f2f;
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	font-family: Perpetua, Rockwell Extra Bold;
}
/* Hover effect for submit button */
input[type=submit]:hover {
	background-color: white; /* Makes the background turn white when hovered over */
	color: black; /* Makes the font turn black when hovered over */
	font-weight: bold; /* Makes the font bold when hovered over */
	transform: scale(1.1); /* Makes the button increase 1.5 times in size */ 
	transition: transform .5s; /* Makes the transform effect last 1.5 seconds from start to finish */
}

/* Form elememt */
form { 
	border-radius: 5px; 
	background: rgba(0,0,0, 0.6);
	padding: 20px;
	font-family: "Trebuchet MS", Optima;
}
/* Footer element */
footer {
    padding: 20%;
    text-align: justify;
    color: #ccc;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;  
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
  }
  
  /* Form styling */
  .form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
  }
  
  /* Input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw; 
  }
  
  /* Submit button */
  .form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom:1vh;
  }
  
  /* Close button */
  .form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
  }
  
  /* Button styling */
  button {
    font-family: "Trebuchet MS", Optima; 
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  
  /* Hover effect for buttons */
  button:hover, .form-container .btn:hover{
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
  }
  .form-container .cancel:hover{
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
  }